@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto&display=swap');
@import 'tailwindcss';

@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-sans: 'Roboto';
	--font-mono: 'Roboto Mono';

	--color-primary-50: #bde9ff;
	--color-primary-100: #bde9ff;
	--color-primary-200: #66d3ff;
	--color-primary-300: #40b8e3;
	--color-primary-400: #089dc7;
	--color-primary-500: #0081a5;
	--color-primary-600: #006684;
	--color-primary-700: #004d64;
	--color-primary-800: #003546;
	--color-primary-900: #001f2a;

	--color-secondary-50: #fffbff;
	--color-secondary-100: #ffede3;
	--color-secondary-200: #ffdcc4;
	--color-secondary-300: #ffb781;
	--color-secondary-400: #ff8e25;
	--color-secondary-500: #de7500;
	--color-secondary-600: #b76000;
	--color-secondary-700: #934b00;
	--color-secondary-800: #703800;
	--color-secondary-900: #4e2500;

	--color-success-light: #75f19b;
	--color-success-dark: #088a3c;
	--color-error-dark: #ca122a;
	--color-warning-light: #ffd92e;

	--color-background-dark: #e3e8ee;
	--color-background-light: #eff2f6;
}

@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";

@layer base {
	/* disable chrome cancel button */
	input[type='search']::-webkit-search-cancel-button {
		display: none;
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	body {
		height: 100dvh;
	}

	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 1rem;
		height: 100%;
	}
}
