@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto&display=swap');
@import 'tailwindcss';

html {
	color-scheme: light dark;
}

:root {
	--font-sans: 'Roboto';
	--font-mono: 'Roboto Mono';

	--white: #fff;
	--gray-50: hsla(210, 10%, 98%, 1);
	--gray-100: hsla(210, 10%, 95%, 1);
	--gray-200: hsla(210, 10%, 91%, 1);
	--gray-300: hsla(210, 10%, 85%, 1);
	--gray-400: hsla(210, 10%, 66%, 1);
	--gray-500: hsla(210, 10%, 30%, 1);
	--gray-600: hsla(210, 10%, 21%, 1);
	--gray-700: hsla(210, 10%, 15%, 1);
	--gray-800: hsla(210, 10%, 6%, 1);
	--gray-900: hsla(210, 10%, 2%, 1);
	--black: #000;

	--bg-light: light-dark(var(--white), var(--gray-700));
	--bg-dark: light-dark(var(--gray-200), var(--gray-800));

	--fg-light: light-dark(var(--gray-700), var(--gray-200));
	--fg-dark: light-dark(var(--gray-800), var(--gray-100));

	--primary: light-dark(var(--gray-600), var(--gray-400));

	--success: light-dark(hsla(138, 82%, 70%, 1), hsla(138, 63%, 59%, 1));
	--warning: light-dark(hsla(49, 100%, 59%, 1), hsla(45, 96%, 55%, 1));
	--error: light-dark(hsla(352, 84%, 43%, 1), hsla(352, 84%, 72%, 1));
	--info: light-dark(hsla(208, 93%, 39%, 1), hsla(203, 79%, 53%, 1));

	--text-xs: 0.75rem;
	--text-xl: 2.125rem;
	--font-mono: Roboto Mono;
}

@source "../node_modules/flowbite-svelte-icons/dist";

@layer base {
	.page-wrapper {
		width: clamp(20rem, 100%, 35rem);
		margin: auto;
		font-family: Roboto;
		height: 100dvh;
		background-color: light-dark(var(--gray-50), var(--gray-900));
		color: var(--fg-dark);
		display: grid;
		grid-template-rows: auto minmax(0, 1fr);
	}

	main {
		background-color: var(--bg-dark);
		width: 100%;
		margin-inline: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1rem 1.5rem;
	}

	.button {
		background-color: var(--primary);
		color: var(--bg-dark);
	}

	button {
		background-color: var(--bg-light);
		cursor: pointer;
	}

	li {
		background-color: var(--bg-light);
	}

	input {
		border: 1px solid var(--bg-dark);
		padding: 0.25rem;
	}

	.numeric-xl {
		font-family: var(--font-mono);
		font-size: var(--text-xl);
		font-weight: 600;
	}
}
